<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--This tells the browser no matter how wide the device is, size the viewport to that particular device -->
    <meta name='description' content="BeatBridge - Your Music Connection">
    <meta name='keywords' content="music, upload, share, connect, artists, listeners">
    <meta name='author' content="Huang Jian Wei, Tan Shao Hng, Sherman">
    <title>BeatBridge - Your Music Connection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>  
    <header>
        <div class="logo"> BeatBridge </div> 
        <nav>
            <!-- Hard-coded, change next time-->
            {% if session["user_id"] %}
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/">Practise Songs</a>
                <a class="nav-link" href="/">Rhythm Trainer</a>
                <a class="nav-link" href="/">Jam</a>
                <a class="nav-link" href="/">Profile</a>
                <a class="nav-link" href="/logout">Log Out</a>
            {% else %}
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/register">Sign up</a>
            {% endif %} 
        </nav>
    </header>

    <!-- Inherit from here-->
    {% block main %}{% endblock %}

    <footer>
        &copy; 2025 BeatBridge. All Rights Reserved.
    </footer>
</body>
</html>