<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description' content="BeatBridge - Your Music Connection">
    <meta name='keywords' content="music, upload, share, connect, artists, listeners">
    <meta name='author' content="Huang Jian Wei, Tan Shao Hng, Sherman">
    <title>BeatBridge - Your Music Connection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>  
    <header>
        <div class="logo"> BeatBridge </div> 
        <nav>
            <!--why tf the layout.html page not working-->
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/upload">Upload</a>
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/register">Sign up</a>
        </nav>
    </header>

    <!-- Inherit from here-->
    {% block main %}{% endblock %}

    <footer>
        &copy; 2025 BeatBridge. All Rights Reserved.
    </footer>
</body>
</html>