<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}
    Login Page
{% endblock %}

{% block main %}
    <section class="hero">
        <h1>Log in</h1>

        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto inputdeco my-input" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class= "form-control mx-auto w-auto inputdeco my-input" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary buttondeco" type="submit">Log in</button>
            <hr style="margin-top:1.5rem; margin-bottom:1.5rem; border:none; border-top:1.5px solid #fff; opacity:0.3;">
            <div class="login-redirect">
                <p>Don't have an account yet?</p>
                <a href="/register" class="login-btn">Log in</a>
            </div>
        </form> 
    </section>
{% endblock %}